# Terraform
.terraform
terraform.tfvars
*.tfstate
*.tfstate.backup

## go files
go.mod
go.sum

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/
parsed/
parsednew/

# Ignore Terraform lock files, as we want to test the Terraform code in these repos with the latest provider
# versions.
.terraform.lock.hcl
.terragrunt.lock.hcl
.terragrunt-cache/
.terragrunt-cache

parsedtiny
parsednew
parsed

.vscode/
testing